<nav class="navbar navbar-expand-md  fixed-top bg-dark">
  <p class="navbar-brand" > <%= link_to 'All Newsletters', newsletters_path %></p>
  <p class="navbar-brand" > <%= link_to 'All Stories', stories_path %></p>


</nav>
