<br>
<br>

<main role="main" class="container">

    
      <div class="jumbotron">
 
          <div>
           <h1>Editing Newsletter</h1>

            <%= render 'form', newsletter: @newsletter %>

            <%= link_to 'Show', @newsletter %> |
            <%= link_to 'Back', newsletters_path %>

        </div>
      </div>
            
</main>