<br>
<br>
<main role="main" class="container">

    
      <div class="jumbotron">
 
          <div>
           <h1>New story</h1>

                <%= render 'form' %>

                <%= link_to 'Back', stories_path(@story) %>

        </div>
      </div>
            
</main>